meta:
  engine: 4.1.0
  name: tsuki
  author: 42willow

# U is a predefined unit of measure that means 19.05mm, which is MX spacing (u is 19.00mm)
points:
  zones:
    matrix:
      anchor.shift: [50, -100] # Fix KiCad placement
      columns:
        pinky:
        ring.key.stagger: 0.66U
        middle.key.stagger: 0.25U
        index.key.stagger: -0.25U
        inner.key.stagger: -0.15U
      rows:
        bottom.padding: U
        home.padding: U
        top.padding: U
    thumb:
      anchor:
        ref: matrix_index_bottom
        shift: [0.66U, -1.25U]
        rotate: -10
      columns:
        tucky:
          key.name: thumb_tucky
        reachy:
          key.spread: U
          key.splay: -15
          key.origin: [-0.5U, -0.5U]
          key.name: thumb_reachy

outlines:
  keycaps:
    - what: rectangle
      where: [key]
      size: 18
      # fillet: 3

pcbs:
  tsuki:
    template: kicad8
    footprints:
      keys:
        # what: ceoloide/switch_mx
        what: ceoloide/switch_choc_v1_v2
        where: true
        params:
          from: GND
          to: "{{name}}"
          reversible: false
          hotswap: true
          solder: false
          include_keycap: true
          choc_v1_support: false
          choc_v2_support: true
          switch_3dmodel_filename: "${TSUKI_3DMODELS_DIR}/choc_v2.step"
          switch_3dmodel_xyz_rotation: [90, 0, 90]
          switch_3dmodel_xyz_offset: [0, 0, -4.2]
          hotswap_3dmodel_filename: "${TSUKI_3DMODELS_DIR}/choc_hotswap.step"
          hotswap_3dmodel_xyz_rotation: [180, 0, 0]
          hotswap_3dmodel_xyz_offset: [0, 0, -1.6]

      mcu:
        what: ceoloide/mcu_supermini_nrf52840
        where:
          - ref: matrix_inner_home
            shift: [1U, 0.5U]
        params:
          reversible: true
          only_required_jumpers: true
          # mcu_3dmodel_filename: "${TSUKI_3DMODELS_DIR}/nrf52840.step"
          P7: matrix_pinky_top
          P7_label: P7
          P18: matrix_ring_top
          P18_label: P18
          P19: matrix_middle_top
          P19_label: P19
          P20: matrix_index_top
          P20_label: P20
          P21: matrix_inner_top
          P21_label: P21
          P15: matrix_pinky_home
          P15_label: P15
          P14: matrix_ring_home
          P14_label: P14
          P16: matrix_middle_home
          P16_label: P16
          P10: matrix_index_home
          P10_label: P10
          P1: matrix_inner_home
          P1_label: P1
          P2: matrix_pinky_bottom
          P2_label: P2
          P3: matrix_ring_bottom
          P3_label: P3
          P4: matrix_middle_bottom
          P4_label: P4
          P5: matrix_index_bottom
          P5_label: P5
          P6: matrix_inner_bottom
          P6_label: P6
          P8: thumb_tucky
          P8_label: P8
          P9: thumb_reachy
          P9_label: P9
