meta:
  name: tsuki
  author: 42willow

units: # TODO: Check this
  # 1u keycap (16mm×16mm)
  # CFX spacing (17mm×17mm)

  # PG1316S
  sx: 16 + 1 # CFX X spacing
  sy: 16 + 1 # CFX Y spacing

  # PG1316M
  mx: 16 + 1 # width
  my: 10.3 + 1 # height

  # Stagger
  ring_stagger: 8
  middle_stagger: 5.5
  index_stagger: -3.375
  inner_stagger: -2.375

  # Splay
  ring_splay: 7 # Between pinky and ring
  middle_splay: 4 # Between ring and middle
  pinky_splay: ring_splay + middle_splay

  # Thumb cluster
  thumb_shift_x: 0
  thumb_shift_y: -sy
  thumb_splay: 7

  # MCU
  xiao_x: 21
  xiao_y: 17.8

  mirror_distance: 25

points:
  rotate: 0

  zones.matrix:
    mirror:
      ref: matrix_inner_top
      shift: [0.5sx, 0.5sy] # TODO: Check this
      distance: mirror_distance
    columns:
      pinky:
      ring:
        key:
          stagger: ring_stagger
          splay: -ring_splay
      middle:
        key:
          stagger: middle_stagger
          splay: -middle_splay
      index:
        key:
          stagger: index_stagger
      inner:
        key:
          stagger: inner_stagger
    rows:
      bottom:
      home:
      top:

  zones.thumbs:
    mirror:
      ref: matrix_inner_top # TODO: Check this
      shift: [0.5sx, 0.5sy] # TODO: Check this
      distance: mirror_distance
    anchor:
      ref: matrix_index_bottom
      shift: [thumb_shift_x, thumb_shift_y - 5]
    columns:
      near:
        key:
          splay: -thumb_splay
          origin: [-sx/2, sx/2]
      home:
        key:
          splay: -thumb_splay
          origin: [-sx/2, sx/2]
      far:
        key:
          splay: -thumb_splay
          origin: [-sx/2, sx/2]

  zones.mcu:
    anchor:
      aggregate.parts: [matrix_inner_top, mirror_matrix_inner_top]
      shift: [0, -0.3xiao_y]
    key:
      name: mcu
      width: xiao_x
      height: xiao_y

  # zones.fn_row:
