meta:
  engine: 4.1.0
  name: tsuki
  author: 42willow

units:
  # keycaps
  kx: cx - .5
  ky: cy - .5

points:
  zones:
    matrix:
      key:
        spread: 1cx
        padding: 1cy
      anchor.shift: [-100, 30]
      columns:
        pinky:
        ring.key.stagger: 0.67cy
        middle.key.stagger: 0.28cy
        index.key.stagger: -0.28cy
        inner.key.stagger: -0.17cy
      rows:
        bottom.padding: cy
        home.padding: cy
        top.padding: cy
    thumb:
      anchor:
        ref: matrix_index_bottom
        shift: [0.66U, -1.25U]
        rotate: -10
      columns:
        tucky:
          key.name: thumb_tucky
        reachy:
          key.spread: U
          key.splay: -15
          key.origin: [-.5U, -0.5U]
          key.name: thumb_reachy
