meta:
  engine: 4.1.0
  name: tsuki
  author: 42willow

units:
  # keycaps
  kx: cx - .5
  ky: cy - .5

points:
  zones:
    matrix:
      key:
        spread: 1cx
        padding: 1cy
      anchor.shift: [cx, cy/2]
      columns:
        pinky:
        ring.key.stagger: 0.70cy
        middle.key.stagger: 0.41cy
        index.key.stagger: -0.32cy
        inner.key.stagger: -0.15cy
      rows:
        bottom.padding: cy
        home.padding: cy
        top.padding: cy
    thumb:
      anchor:
        ref: matrix_index_bottom
        shift: [0.55cx, -1.18cy]
        rotate: -15
      columns:
        tucky:
          key.name: thumb_tucky
        reachy:
          key.spread: cx
          key.splay: -15
          key.origin: [-.5U, -0.5U]
          key.name: thumb_reachy
  mirror:
    ref: matrix_pinky_bottom
    distance: -2cx
